/* ====================================
   GLOBAL
   -------------- START --------------- */

/* =============== END ================ */

/* ====================================
   TRAILLIST
   -------------- START --------------- */
#traildevils .trailslist {
	font-size: 0.8em;
}

.trailslist .trail-item {
	clear: both;
}
.trailslist .trail-item .trail-image,
.trailslist .trail-item .trail-image img {
	float: left;
	width: 5em;
}
.trailslist .trail-item .trail-description {
	float: left;
	width: 14em;
	margin-left: 1em;
}
.trailslist .trail-item .trail-description h1 {
	font-weight: bold;
}
.trailslist .trail-item .trail-description p {
	font-size: 0.8em;
}
/* =============== END ================ */

.trail-item .fav {
	float: right;
}
.trail-item-swiped .trail-item .action {
	display: block;
	opacity: 1;
	-webkit-transition: opacity 0.3s linear
}
.trail-item .action {
	display: none;
	opacity: 0
}

